@import url('https://fonts.googleapis.com/css?family=Joti+One');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html, body {
  overflow: hidden;
  height: 100%;
  background-image: url('./img/back2-min.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}
